/* App.css */
html, body {
  background-color: black;
  margin: 0;
  color: white;
  height: 100%; /* Setting both the elements height to 100% */
}

body {
   background-repeat: no-repeat; 
}

a {
  color: white;
  stroke: none;
  text-decoration: none;
}
  /* App.css */
.back-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .back-to-top:hover {
    opacity: 0.7;
  }
  