.canvas-container {
  /* display: none; */
  position: absolute; /* Set position to absolute */
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 65vh; /* Cover the entire section */
}

.canvas-container canvas {
  z-index: -1;
  width: 100%;
  background-color: transparent;
  height: 100%; /* Cover the entire canvas container */
}