#root {
    width: 100vw;
    display: grid;
    grid-template-areas:'main';
    justify-content: center;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    align-items: right;
  }

body {
    background-color: black;
}

#Navbar {
    position: sticky;
    top: 0;
    margin: 0 auto 0 auto;
    width: 85%;
    height: 45px;
    align-content: center;
    color: white;
    display: grid;
    grid-template-areas:'main main';
    justify-content:space-between;
}

#logo {
    width: 75px;
    height: 45px;
    background-image: url(../assets/test.webp);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#aboutLink {
    font-size: 16px;
}

/*Extra Small Devices (Mobile Phones)*/
@media only screen and (max-width: 576px) {
    body{
      /* background-color: gray; */
    }

    .cardGroup {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 100%;
        margin: auto;
        gap: 30px;
    }
    
    .card {
        margin: auto;
        width:339px;
        text-align: left;
    }
    
    .img {
        border-radius: 35px 35px 0 0 ;
        width:  100%;
        height: 210px;
        background-image: url('../assets/backside.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    .cardDesc {
        height: auto;
    }
    
    .card h1 {
        font-weight: bolder;
        font-size: 16px;
    }
    
    
    .card h3 {
        line-height: 15px;
        font-size: 14px;
    }
    
    .card p {
        font-size: 14px;
    } 
}  

/*Small Devices tablets, large Phones*/
@media only screen and (min-width: 577px) and (max-width: 768px) {

    .cardGroup {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 100%;
        margin: auto auto 20px auto;
        gap: 10px;
    }
    
    .card {
        margin: auto;
        width:250px;
        text-align: left;
    }
    
    .img {
        border-radius: 35px 35px 0 0 ;
        width:  100%;
        height: 210px;
        background-image: url('../assets/backside.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    .cardDesc {
        height: auto;
    }
    
    .card h1 {
        font-weight: bolder;
        font-size: 16px;
    }
    
    
    .card h3 {
        line-height: 15px;
        font-size: 14px;
    }
    
    .card p {
        font-size: 14px;
    }

}  

/*Medium Devices (small laptops, large tablets)*/
@media only screen and (min-width: 769px) and (max-width: 992px) {

    .cardGroup {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 100%;
        margin: auto auto 20px auto;
        gap: 10px;
    }
    
    .card {
        margin: auto;
        width:260px;
        text-align: left;
    }
    
    .img {
        border-radius: 35px 35px 0 0 ;
        width:  100%;
        height: 210px;
        background-image: url('../assets/backside.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    .cardDesc {
        height: auto;
    }
    
    .card h1 {
        font-weight: bolder;
        font-size: 16px;
    }
    
    
    .card h3 {
        line-height: 15px;
        font-size: 14px;
    }
    
    .card p {
        font-size: 14px;
    }

}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    .cardGroup {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        height: 100%;
        margin: auto auto 20px auto;
        gap: 40px;
    }
    
    .card {
        margin: auto;
        width:310px;
        text-align: left;
    }
    
    .img {
        border-radius: 35px 35px 0 0 ;
        width:  100%;
        height: 210px;
        background-image: url('../assets/backside.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    .cardDesc {
        height: auto;
    }
    
    .card h1 {
        font-weight: bolder;
        font-size: 16px;
    }
    
    
    .card h3 {
        line-height: 15px;
        font-size: 14px;
    }
    
    .card p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1201px) {

    .cardGroup {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        height: 100%;
        margin: auto auto 20px auto;
        gap: 10px;
    }
    
    .card {
        margin: auto;
        width:350px;
        text-align: left;
    }
    
    .img {
        border-radius: 35px 35px 0 0 ;
        width:  100%;
        height: 210px;
        background-image: url('../assets/backside.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-bottom: 20px;
    }
    
    .cardDesc {
        height: auto;
    }
    
    .card h1 {
        font-weight: bolder;
        font-size: 16px;
    }
    
    
    .card h3 {
        line-height: 15px;
        font-size: 14px;
    }
    
    .card p {
        font-size: 14px;
    }
}