@media only screen and (min-width: 1201px) {

#firstSection {
    width: 100%;
    margin: auto;
    height: auto;
    text-align: left;
    background-color: darkblue;
  }
  
  #firstSectionContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
  }
  
  #leftContent {
    padding-top: 30%;
    width: 75%;
    position: relative;
    display:inline-block;
    margin-left: 15%;
    margin-top: auto;
    height: fit-content;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: bold;
  }

 #firstSectionContent  #leftContent  h1{
    font-size: 16px;
  }
  
  #firstSectionContent  #leftContent  p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 0;
  }

  #firstSectionContent  #leftContent  h5{
    font-size: 12px;
    margin: 0;
    line-height: 20px
  }
  
  #firstSectionContent  .tag{
    font-size: 12px;
    color: gray;
  }

  #rightContent {
    display: inline-block;
    height:90%;
    width: 100%;
    margin-left: -15%;
    margin-top: auto;
    background-image: url('../assets/tempModel.png');
    background-position: center;
    background-size: 85%;
    background-repeat: no-repeat;
  }

}