/* Section1.css */
.AboutSection1 .container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .AboutSection1 img {
    max-width: 60%;
    height: auto;
  }
  
  .AboutSection1  h1 {
    font-size: 25px;
    margin-top: 20px;
  }
  
  .AboutSection1   p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }
  