.section4
{
    width: 100%;
    padding: 30px 0 20px 0;
}

.section4 .view-more {
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
.section4  .view-more:hover {
    background-color: #555;
  }
  