/* Section2.css */
.section2 {
  width: 100%;
  color: white;
  padding: 0px;
  margin: auto;
}

.section2 .container {
  width: 100%;
  padding: 0 0px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center the buttons */
}

.section2 .container button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 10px; /* Adjusted */
  cursor: pointer;
}

.section2 .container button.active {
  border-radius: 20px;
  background-color: #555;
}

@media (max-width: 768px) {
  .section2 .container button {
    padding: 10px 10px;
  }
}