/* Section1.css */
.section1 {
  background-color: red;
}

.section1 .container {
  padding: 50px 50px;
  display: flex;
  justify-content: space-around; /* Adjusted */
  align-items: center;
}

.section1 .content {
  max-width: 400px;
  text-align: left;
  line-height: 20px;
}

.section1 .content h1 {
  font-size: 34px; /* Adjusted */
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section1 .content h2 {
  text-transform: uppercase;
  font-size: 25px; /* Adjusted */
  margin-bottom: 10px;
}

.section1 .content p {
  font-size: 16px; /* Adjusted */
  margin-bottom: 20px;
}

.section1 .right {
  flex: 0 0 50%; /* Adjusted */
  max-width: 50%; /* Adjusted */
}

.section1 .right img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .section1 .container {
    flex-direction: column-reverse; /* Swap flex direction on smaller screens */
    align-items: center;
    padding-bottom: 0px;
  }

  .section1 .right,
  .section1 .content {
    max-width: 100%; /* Adjusted */
    text-align: center; /* Adjusted */
  }

  .section1 .right img {
    max-width: 100%; /* Adjusted */
    height: 350px;
    margin-bottom: 20px; /* Adjusted */
  }
}
