/* Section1.css */
.projectSection1 {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.projectSection1 .container {
  display: flex;
  max-width: 75%;
  margin: auto;
  flex: 1;
  background-color: transparent;
  z-index: 2;
  align-items: flex-start;
}

.projectSection1 .content {
  margin-top: 160px;
  width: 35%;
  border-radius: 10px;
}

.projectSection1 .content h1 {
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.projectSection1 .content h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.projectSection1 .content p {
  font-size: 16px;
}

@media (min-width: 1440px) {
  .projectSection1 .container {
    max-width: 1116px;
  }
}

@media (max-width: 600px) {
  .projectSection1 .container {
    max-width: 90%;
  }

  .projectSection1 .content {
    width:65%;
  }
}

@media (max-width: 1024px) {
  .projectSection1 .container {
    max-width: 80%;
  }

  .projectSection1 .content {
    width:45%;
  }
}

@media (max-width: 768px) {
  .projectSection1 .container {
    max-width: 80%;
  }

  .projectSection1 .content {
    width:55%;
  }
}

@media (max-width: 600px) {
  .projectSection1 .container {
    max-width: 80%;
  }

  .projectSection1 .content {
    width:65%;
  }
}

@media (max-width: 450px) {
  .projectSection1 .container {
    max-width: 80%;
  }

  .projectSection1 .content {
    width:65%;
  }
}