/* Section2.css */
  
.projectSection2 {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; /* Make it relative */
}

  
  .projectSection2 .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .projectSection2 .card {
    width: 350px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .projectSection2 .image {
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
  .projectSection2 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
  }
  
  @media (max-width: 1400px) {
    .projectSection2 .card {
      width: calc(30% - 20px);
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 1024px) {
    .projectSection2 .card {
      width: calc(55% - 20px);
      margin: auto auto 30px auto;
    }
  }
  
  @media (max-width: 768px) {
    .projectSection2 .card {
      width: calc(55% - 20px);
      margin: auto auto 30px auto;
    }
  }
  
  @media (max-width: 600px) {
    .projectSection2 .card {
      width: calc(85% - 20px);
      margin: auto auto 30px auto;
    }
  }
  
  @media (max-width: 450px) {
    .projectSection2 .card {
      width: calc(85% - 20px);
      margin: auto auto 30px auto;
    }
  }